<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <title>Workshops App</title>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workshops">Workshops</a>
                </li>
            </ul>
        </nav>
        <main class="container my-4">
            <div class="jumbotron">
                <h1 class="display-3">Page not found</h1>
                <p class="lead">
                    Sorry! The page you are looking for does not exist. You may try going <a href="/">Home</a>
                </p>
            </div>
        </main>
    </body>
</html>